{% extends "base.html.twig" %}

{% block title %}Articles{% endblock %}

{% block body %}
    <article>
        <h2>{{article.title}}</h2>
            <div class="metadata">Ecrit le {{article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('H:i')}} dans la catégorie {{article.category.title}}</div>
        <div class="content">
            <img src="{{article.image}}" alt="">
            <p>{{article.content | raw}}</p>
            <hr>
        </div>
        <div class="commentaires">
            {% for comment in article.comments %}
                <div class="commentaire">
                    <div class="row">
                        <div class="col-3">
                            {{comment.author}} (<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
                        </div>
                        <div class="col">
                            {{comment.content | raw}}
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </article>
    <div class="buttons">
        <a href='{{ path('article_edit', {'id':article.id}) }}' class="btn btn-primary">📝 Modifier l'article</a>
        <a href="{{path('home')}}" class="btn btn-secondary">🏠 Accueil</a>
        <a href="{{path('blog')}}" class="btn btn-secondary">📰 Blog</a>
        <a href="{{path('article_create')}}" class="btn btn-secondary">➕ Créer une nouvelle articles</a>
    </div>
    

{% endblock %}